* {
    margin: 0;
    box-sizing: border-box;
    /* border: 1px dotted; */
}

.row {
    display: flex;
}

.square {
    border: 1px dotted;
    flex-grow: 1;
    aspect-ratio: 1/1;
}

#grid {
    border: 1px dotted;
}

.user-input {
    border: 1px dotted;
}

.grid-container {
    max-width: 600px;
}