* {
    margin: 0;
    box-sizing: border-box;
    /* border: 1px dotted; */
}

.row {
    display: flex;
}

.square {
    border: 1px dotted;
    flex-grow: 1;
    aspect-ratio: 1/1;
}

#grid {
    border: 1px dotted;
    height: 100%;
    flex-grow: 1;
}

.grid-container {
    display: flex;
    align-items: center;
    max-height: 80vh;
    aspect-ratio: 1/1;
    overflow: auto;
}

.user-input {
    border: 1px dotted;
}