* {
    margin: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

.row {
    display: flex;
}

.square {
    border: 1px solid;
    flex-grow: 1;
    aspect-ratio: 1/1;
}

.main {
    height: 100vh;
    padding: 5%;


    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;

    background-color: rgb(56, 58, 63);
}

.grid-container {
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

#grid {
    background-color: white;
    border: 4px solid rgb(111, 199, 199);
    min-width: 200px;
    width: 80%;
    max-width: 500px;
}

.user-input {
    padding: 40px;
    background-color: rgb(201, 240, 241);
    border: 4px solid rgb(111, 199, 199);
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

h1 {
    text-align: center;
}

fieldset {
    background-color: rgb(111, 199, 199);
    border: 2px solid rgb(56, 58, 63);
    border-radius: 8px;
    padding: 16px;
}

legend {
    background-color: rgb(201, 240, 241);
    border: 2px solid rgb(56, 58, 63);
    border-radius: 8px;
    padding: 8px;
}

.radio {
    border: 2px solid rgb(56, 58, 63);
    border-radius: 8px;
    padding: 8px;
}

.black {
    background-color: rgb(56, 58, 63);
    color: white;
}

.color {
    color: white;
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.eraser {
    background-color: antiquewhite;
}

.radio input {
    appearance: none;

    border-radius: 50%;
    border: 2px solid rgb(111, 199, 199);
    width: 16px;
    height: 16px;

    margin-right: 4px;

    position: relative;
    top: 0.2rem;
}

.radio input:checked {
    border: 4px solid rgb(111, 199, 199);
    background-color: rgb(201, 240, 241);
}

.radios {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

button {
    border: 2px solid rgb(56, 58, 63);
    border-radius: 8px;
    padding: 8px;
}

button:hover {
    background-color: rgb(56, 58, 63);
    color: white;
}

button:active {
    background-color: initial;
    color: initial;
}

.slider {
    appearance: none;

    width: 100%;
    height: 8px;
    border-radius: 8px;
    border: 2px solid rgb(56, 58, 63);
    background-color: rgb(201, 240, 241);
}

.slider::-webkit-slider-thumb {
    appearance: none;

    width: 20px;
    height: 20px;
    background-color: rgb(111, 199, 199);
    border: 4px solid rgb(56, 58, 63);
    border-radius: 50%;
}

.grid-settings {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

p {
    text-align: center;
    margin: 8px 0px;
}